.todo-header {
    display: flex ;
    justify-content: space-between;

    background-color: #ffffff;
    text-align: left;
    border-bottom: 0px solid #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #333;
}
.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 25px;
}
.todo-item {
    display: flex;
    align-items: center;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
}

/*  */
.taskItem {
    position: relative;
}

.dropdownMenu {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height:40px; 
    left: 20px;
    background-color: #eeeaea;
    border: 1px solid #ddd;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 100;
}

.button-item {

    border: 2px solid #ffffff;
    border-radius: 0; 
    padding: 1px 10px; 
    background-color: #ffffff;
    color: #000000;
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    transition: all 0.3s ease;
}
