li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: #f0f0f0;
  font-size: 14px;
  text-decoration: none;
  color: #363636;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button__nav:hover {
  background: #c9cbcc;
  color: #ffffff;
}

.button__nav.active {
  background: #4e4e4e;
  color: #ffffff;
  font-weight: bold;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e4e4e;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer h6 {
  font-size: 14px;
  font-weight: 500;
}